.feature h3 {
    text-align: center;
    color: #ffffff;
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.feature-cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-content: space-around;
    max-width: 75%;
    margin: 0 auto;
}

.feature-card {
    border: none;
    border-radius: 2.5rem;
    background: #230E3D;
    align-content: center;


}

.feature-card iframe {
    border: none;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    width: 100%;
    aspect-ratio: 16 / 9;

}

.feature-card h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1rem;
    color: #ffffff;
    text-align: start;
}

.feature-card p {
    font-size: 1rem;
    font-weight: 400;
    color: #ffffffd1;
    line-height: 1.5;
    margin: 1rem;
    text-align: start;

}

.feature .feature-cont .feature-card .time {
    font-size: 1rem;
    font-weight: 700;
    color: #00FF88;
    margin: 1rem;
    align-items: center;
}


.host-section {
    background: #1A0B2E;
    margin: 3rem 0;

}

.host-section>h2 {
    text-align: center;
    color: #ffffff;
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.host-cont {
    background: #230E3D;
    border: none;
    border-radius: 2.5rem;
    max-width: 75%;
    margin: 0 auto;
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
    padding: 2rem;
}

.host-details h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: #ffffff;
}

.host-details p {
    font-size: 1rem;
    font-weight: 400;
    color: #ffffffd1;
    line-height: 1.5;
    margin-bottom: 2rem;

}

.host-icon-cont {
    display: flex;
    gap: 1rem;
}

.icon {
    border: 2px solid #ffffff33;
    border-radius: 50%;
}

.icon img {
    padding: 0.5rem;
    width: 2.25rem;
    height: 2rem;
    cursor: pointer;
}

